In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import folium
import requests
from io import BytesIO
import pygris
from pygris.utils import erase_water
import requests

Process the raw excel file

In [2]:
# Read the excel sheet and skip blank rows
raw_excel = pd.read_excel("data/DSHA LIHTC List_MAPPING.xlsx", engine='openpyxl', skiprows=[2,3], skipfooter=4, dtype=str)
# Add additional column information from the first row
raw_excel.columns = (raw_excel.columns.astype(str) + " " + raw_excel.head(1).fillna("").astype(str)).iloc[0].str.strip().values
raw_excel.rename(columns={"ALLOCATION .1 DATE": "ALLOCATION DATE", "ALLOCATION  AMOUNT": "ALLOCATION AMOUNT", "Type of Property*": "Type of Property"}, inplace=True)
raw_excel.drop(0, inplace=True)

In [3]:
# Find and label the rows about tax year
raw_excel["is tax"] = raw_excel["PROJECT NAME & ADDRESS"].str.contains("TAX CREDIT ALLOCATIONS")

# Function that maps the boolean column "is tax", which is true when a row contains tax year information, to an integer equal to the tax year
def assign_to_year(x, i):
    # if the row is a tax year, increment i
    if x:
        i[0] = i[0] + 1
    # return an integer equal to the tax year
    return i[0] + 2016

# add a column for the tax year
index = [-1]
raw_excel["Tax Allocation Year"] = raw_excel["is tax"].apply(assign_to_year, args=[index])

# drop rows of tax year information and reformat
raw_excel = raw_excel.loc[~raw_excel["is tax"]].drop(columns="is tax").reset_index(drop=True)

In [4]:
# Add a column that labels the primary line for an entry
raw_excel["primary"] = ~raw_excel["County"].isna()

# Function that maps each the boolean column "primary", which is true when a row contains the primary info from the dataset, to an integer that functions as an index for primary entries
def assign_to_year(x, i):
    # if the row is primary, increment i
    if x:
        i[0] = i[0] + 1
    # return an index for the primary entries
    return i[0]

# add an index column for the primary entries
index = [-1]
raw_excel["primary"] = raw_excel["primary"].apply(assign_to_year, args=[index])

In [5]:
# Fix 'ALLOCATION AMOUNT', 'ALLOCATION DATE' swap
flipped_years = [2018, 2019, 2020, 2021, 2022]
tmp = raw_excel.loc[raw_excel["Tax Allocation Year"].isin(flipped_years)]['ALLOCATION AMOUNT'].copy()
tmp2 = raw_excel.loc[raw_excel["Tax Allocation Year"].isin(flipped_years)]['ALLOCATION DATE'].copy()
raw_excel.loc[raw_excel["Tax Allocation Year"].isin(flipped_years), 'ALLOCATION AMOUNT'] = tmp2.values
raw_excel.loc[raw_excel["Tax Allocation Year"].isin(flipped_years), 'ALLOCATION DATE'] = tmp.values

In [7]:
# Create separate dataframes for each row in a data entry
grouped_data = raw_excel.groupby("primary")
raw_data1 = grouped_data.nth(0)
raw_data2 = grouped_data.nth(1).drop(columns="Tax Allocation Year")
raw_data3 = grouped_data.nth(2).drop(columns="Tax Allocation Year")
raw_data4 = grouped_data.nth(3).drop(columns="Tax Allocation Year")
raw_data5 = grouped_data.nth(4).drop(columns="Tax Allocation Year")

# Modify the column names for each dataframe to prepare for joining
raw_data2.columns = raw_data2.columns + " 2"
raw_data3.columns = raw_data3.columns + " 3"
raw_data4.columns = raw_data4.columns + " 4"
raw_data5.columns = raw_data5.columns + " 5"

# Join the dataframes by index and remove unused columns
flattened_data = raw_data1.join(raw_data2, how="left").join(raw_data3, how="left").join(raw_data4, how="left").join(raw_data5, how="left").dropna(axis=1, how='all').reset_index(drop=True)

In [8]:
# Convert dates back to their orginial format
flattened_data["Placed in Service Date"] = pd.to_datetime(flattened_data["Placed in Service Date"], errors='coerce').dt.strftime('%m/%d/%Y')
flattened_data["ALLOCATION DATE"] = pd.to_datetime(flattened_data["ALLOCATION DATE"], errors='coerce').dt.strftime('%m/%d/%Y')
flattened_data["Tax Credit Compliance Date"] = pd.to_datetime(flattened_data["Tax Credit Compliance Date"], errors='coerce').dt.strftime('%m/%d/%Y')
flattened_data["Extended Use Period"] = pd.to_datetime(flattened_data["Extended Use Period"], errors='coerce').dt.strftime('%m/%d/%Y')
flattened_data["Placed in Service Date 2"] = pd.to_datetime(flattened_data["Placed in Service Date 2"], errors='coerce').dt.strftime('%m/%d/%Y')

In [ ]:
flattened_data

In [9]:
# Combine address fields
address_columns = ["PROJECT NAME & ADDRESS", "PROJECT NAME & ADDRESS 2", "PROJECT NAME & ADDRESS 3", "PROJECT NAME & ADDRESS 4", "PROJECT NAME & ADDRESS 5"]

# Extracts addresses from projects
def extract_address(x):
    # Project 27 has three full addresses, so we use the last one listed
    if x.name == 27:
        addr = x[address_columns].dropna().values[-1]
        return addr
    # The last two lines of the address field contain the address split between two lines, except for project 27
    else:
        addr = x[address_columns].dropna().values[-2:]
        return addr[0] + ", " + addr[1]

# Extract an address for each project
flattened_data["address"] = flattened_data.apply(extract_address, axis=1)

In [ ]:
flattened_data

In [10]:
# Print the data to a csv
flattened_data.to_csv("data/processed_data.csv", index=False)

In [11]:
# Print the addresses to a seperate list
flattened_data["address"].to_csv("data/DSHA_addresses.csv", index=False)

At this point we transfer the address csv over to the geocoder to get the latitude and longitude of each project

In [12]:
# Read the file of geolocated addresses
geolocations = pd.read_csv("data/counts_per_tract.csv").drop_duplicates("input_address")
# Join the geolocations to the flattened dataframe

#ignore case and commas
geolocations["address_lower"] = geolocations["input_address"].str.lower().str.replace(",","")
flattened_data["address_lower"] = flattened_data["address"].str.lower().str.replace(",", "")
geolocated_data = flattened_data.merge(geolocations, on="address_lower", how="left")
# Remove lat,lot from unsuccessfully (not in the u.s.) geolocated address
geolocated_data.loc[geolocated_data["census_tract"] == "Unable To Geocode The Address", "lon"] = np.nan
geolocated_data.loc[geolocated_data["census_tract"] == "Unable To Geocode The Address", "lat"] = np.nan

In [13]:
# Convert lat,lot to Shapely points
geolocated_data = gpd.GeoDataFrame(geolocated_data, geometry=gpd.points_from_xy(geolocated_data['lon'], geolocated_data['lat'], crs="EPSG:4326"))

In [ ]:
# Visualize points on a map

# initialize the map and store it in a folium map object
us_map = folium.Map(location=[39.74503, -75.57203], zoom_start=14, tiles=None)

# Add background tiles
folium.TileLayer('CartoDB positron',name="Light Map",control=False).add_to(us_map)


# Add markers for each school
points=folium.features.GeoJson(
        geolocated_data.loc[geolocated_data["census_tract"] != "Unable To Geocode The Address"], # Full geopandas data
        control=False,
        marker = folium.CircleMarker(radius = 5, # Radius in metres
                           weight = 0, #outline weight
                           fill_color = '#d95f02', 
                           fill_opacity = 1)
        )

points.add_to(us_map)
us_map

In [ ]:
# extract shape files for senate districts
senate_districts = gpd.read_file("data/2022Senate_Districts_Trimmed.geojson")

# Gets the senate district containing a point
def get_district(x):
    # Return a blank when an address could not be geolocated
    if x["census_tract"] == "Unable To Geocode The Address":
        return ""
    # Return the senate district containing the point otherwise
    else:
        return senate_districts.loc[x["geometry"].within(senate_districts["geometry"])]["SLDUST"].astype(int).astype(str).values[0]

# Add a column for senate district
geolocated_data["Senate District"] = geolocated_data.apply(get_district, axis=1)

In [16]:
# extract shape files for representative districts
rep_districts_2022 = pygris.state_legislative_districts(state="DE",house="lower", year=2022)
rep_districts_2022 = rep_districts_2022[["SLDLST","geometry"]].to_crs(4326)

rep_districts_2011 = pygris.state_legislative_districts(state="DE",house="lower", year=2011)
rep_districts_2011 = rep_districts_2011[["SLDLST","geometry"]].to_crs(4326)

Using FIPS code '10' for input 'DE'
Using FIPS code '10' for input 'DE'

In [17]:
#trim the representative district shapes to remove excess water
rep_districts_2022_trimmed = erase_water(rep_districts_2022)

rep_districts_2011_trimmed = erase_water(rep_districts_2011)

# rep_districts_2022_trimmed.explore()
# rep_districts_2011_trimmed.explore()

/Users/kaitlincanalichio/opt/anaconda3/envs/dsenv/lib/python3.10/site-packages/geopandas/geodataframe.py:2451: UserWarning: `keep_geom_type=True` in overlay resulted in 66 dropped geometries of different geometry types than df1 has. Set `keep_geom_type=False` to retain all geometries
  return geopandas.overlay(

In [18]:
# Add a column for representative district

gjoin = gpd.sjoin(geolocated_data,rep_districts_2011_trimmed)[["PROJECT NAME & ADDRESS","ALLOCATION DATE","census_tract", "geometry","SLDLST"]]

geolocated_data = geolocated_data.merge(gjoin, on=["PROJECT NAME & ADDRESS","ALLOCATION DATE","census_tract","geometry"], how="left")

In [19]:
# rename SLDLST to Representative District

geolocated_data = geolocated_data.rename(columns={"SLDLST" : "Representative District"})

In [20]:
# Add funding source column
geolocated_data["Funding Source"] = "LIHTC"

In [21]:
geolocated_data.dtypes

PROJECT NAME & ADDRESS          object
ALLOCATION AMOUNT               object
ALLOCATION DATE                 object
Placed in Service Date          object
4% or 9% Allocation             object
Applicable Credit Rate          object
Status Active/Non               object
# of Tax Credit Units           object
Type of Property                object
County                          object
Tax Credit Compliance Date      object
Extended Use Period             object
Tax Allocation Year              int64
PROJECT NAME & ADDRESS 2        object
ALLOCATION AMOUNT 2             object
Placed in Service Date 2        object
Applicable Credit Rate 2        object
PROJECT NAME & ADDRESS 3        object
PROJECT NAME & ADDRESS 4        object
PROJECT NAME & ADDRESS 5        object
address                         object
address_lower                   object
input_address                   object
census_tract                    object
lon                             object
lat                             object
acc                             object
geometry                      geometry
Representative District         object
Funding Source                  object
dtype: object

In [22]:
# add Represenative names 
rep_names = pd.read_excel("data/Representative List.xlsx")
rep_names["District"] = rep_names["District"].astype("str") #convert to string type
geolocated_data["Representative District"] = geolocated_data["Representative District"].astype("str")
# remove leading 0s on district names
geolocated_data["Representative District"] = [d.lstrip("0") for d in geolocated_data["Representative District"]]
geolocated_data = geolocated_data.merge(rep_names, left_on="Representative District", right_on="District", how="left")

In [23]:
geolocated_data.columns

Index(['PROJECT NAME & ADDRESS', 'ALLOCATION AMOUNT', 'ALLOCATION DATE',
       'Placed in Service Date', '4% or 9% Allocation',
       'Applicable Credit Rate', 'Status Active/Non', '# of Tax Credit Units',
       'Type of Property', 'County', 'Tax Credit Compliance Date',
       'Extended Use Period', 'Tax Allocation Year',
       'PROJECT NAME & ADDRESS 2', 'ALLOCATION AMOUNT 2',
       'Placed in Service Date 2', 'Applicable Credit Rate 2',
       'PROJECT NAME & ADDRESS 3', 'PROJECT NAME & ADDRESS 4',
       'PROJECT NAME & ADDRESS 5', 'address', 'address_lower', 'input_address',
       'census_tract', 'lon', 'lat', 'acc', 'geometry',
       'Representative District', 'Funding Source', 'Name', 'District'],
      dtype='object')

In [25]:
# Print the dataset with senate districts attached to a csv
geolocated_data.drop(columns=["input_address", "address_lower","census_tract", "lon", "lat","District"]).to_file("data/DSHA_repdistricts2011.geojson", driver="GeoJSON")

In [26]:
geolocated_data.drop(columns=["input_address","address_lower", "census_tract", "lon", "lat","District"]).columns

Index(['PROJECT NAME & ADDRESS', 'ALLOCATION AMOUNT', 'ALLOCATION DATE',
       'Placed in Service Date', '4% or 9% Allocation',
       'Applicable Credit Rate', 'Status Active/Non', '# of Tax Credit Units',
       'Type of Property', 'County', 'Tax Credit Compliance Date',
       'Extended Use Period', 'Tax Allocation Year',
       'PROJECT NAME & ADDRESS 2', 'ALLOCATION AMOUNT 2',
       'Placed in Service Date 2', 'Applicable Credit Rate 2',
       'PROJECT NAME & ADDRESS 3', 'PROJECT NAME & ADDRESS 4',
       'PROJECT NAME & ADDRESS 5', 'address', 'acc', 'geometry',
       'Representative District', 'Funding Source', 'Name'],
      dtype='object')

In [37]:
# Count the number of Tax Credit Units in each district for each year and add them to the aggregated dataframe
geolocated_data['# of Tax Credit Units'] = geolocated_data['# of Tax Credit Units'].astype(int)
aggregated_data = geolocated_data.groupby(["Representative District", "Tax Allocation Year"]).sum()["# of Tax Credit Units"].reset_index()
aggregated_data.to_csv("data/Tax_Credit_Units_per_Representative_District.csv", index=False)

/var/folders/62/sjvb9hnd49j2jg4mt6p87qqm0000gn/T/ipykernel_59868/2763240833.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  aggregated_data = geolocated_data.groupby(["Representative District", "Tax Allocation Year"]).sum()["# of Tax Credit Units"].reset_index()

In [38]:
geolocated_data

,PROJECT NAME & ADDRESS,ALLOCATION AMOUNT,ALLOCATION DATE,Placed in Service Date,4% or 9% Allocation,Applicable Credit Rate,Status Active/Non,# of Tax Credit Units,Type of Property,County,...,input_address,census_tract,lon,lat,acc,geometry,Representative District,Funding Source,Name,District
0,PEARL CENTER,913337,12/20/2016,08/31/2018,0.09,9,Active,51,F,New Castle,...,"300 East 8th street Wilmington, DE 19801",29,-75.54647152099994,39.74226094900007,Census: Exact,POINT (-75.54647 39.74226),3,LIHTC,Sherry Dorsey Walker,3
1,JEFFERSON ESTATES II,518044,12/20/2016,01/23/2018,0.09,9,Active,32,F,Sussex,...,"825 Kings Highway, #101, Lewes, DE 19958",509.02,-75.14529768299997,38.76164546600006,Census: Exact,POINT (-75.14530 38.76165),37,LIHTC,Ruth Briggs King,37
2,VILLAGE OF IRON BRANCH (fka Halls Heritage),792137,12/20/2016,12/31/2018,0.09,9,Active,38,F,Sussex,...,"Halls Heritage Circle, Millsboro, DE 19966",506.02,-75.29852190919607,38.58629459541729,ArcGIS: 100,POINT (-75.29852 38.58629),41,LIHTC,Richard G. Collins,41
3,"THE FLATS, PHASE II MRB",503861,12/08/2016,06/28/2018,0.04,3.21,Active,72,F,New Castle,...,"Bancroft Parkway, Wilmington, DE 19805",13,-75.57186289073468,39.75607740008254,ArcGIS: 100,POINT (-75.57186 39.75608),4,LIHTC,Jeff Hilovsky,4
4,LIBERTY COURT MRB,620003,07/26/2017,10/13/2018,0.04,3.22,Active,100,F,Kent,...,"1289 Walker Road, Dover, DE 19901",407,-75.55637240499993,39.167185569000026,Census: Non_Exact,POINT (-75.55637 39.16719),31,LIHTC,Sean M. Lynn,31
5,H. FLETCHER BROWN MRB,565754,05/12/2017,12/31/2019,0.04,3.24,Active,35,S,New Caslte,...,"1010 N. Broom street Wilmington, DE 19806",15,-75.56218107799998,39.75159206100005,Census: Exact,POINT (-75.56218 39.75159),4,LIHTC,Jeff Hilovsky,4
6,CHELTEN APARTMENTS MRB,497801,08/25/2017,10/31/2018,0.04,3.22,Active,120,S,New Castle,...,"431 Old Forge Road, New Castle, DE 19720",149.08,-75.62710744399999,39.652231312000026,Census: Exact,POINT (-75.62711 39.65223),5,LIHTC,Kendra Johnson,5
7,VILLAGE OF ST. JOHN (Forward Reservation),778622,12/06/2017,08/26/2019,0.09,9,Carryover,53,S,New Castle,...,"2019 North Market street Wilmington, DE 19802",5,-75.54174052899998,39.751854105000064,Census: Exact,POINT (-75.54174 39.75185),1,LIHTC,Nnamdi O. Chukwuocha,1
8,OUR LADY OF GRACE (Forward Reservation),774946,12/11/2017,12/20/2019,0.09,9,Carryover,60,F,New Castle,...,"2000 Mary Anagela Way, Newark, DE 19712",147.05,-75.71618273833816,39.6656199289158,ArcGIS: 96.58,POINT (-75.71618 39.66562),24,LIHTC,Edward S. Osienski,24
9,BRANDYWINE STATION,1044577,12/11/2017,12/06/2018,0.09,9,Carryover,56,F,Sussex,...,"Case Lane and Edwards boulevard Millsboro, DE ...",506.02,-75.29199711143387,38.586581654826816,ArcGIS: 100,POINT (-75.29200 38.58658),41,LIHTC,Richard G. Collins,41
10,"THE FLATS, PHASE III (Return and Fowrward)",1062603,12/13/2017,NaN,0.09,9,Carryover,75,F,New Castle,...,"Bancroft Parkway, Wilmington, DE 19805",13,-75.57186289073468,39.75607740008254,ArcGIS: 100,POINT (-75.57186 39.75608),4,LIHTC,Jeff Hilovsky,4
11,MARKET STREET APARTMENTS,228372,12/11/2017,NaN,0.09,9,Carryover,34,S,Sussex,...,"310 Market street , Bridgeville, DE 19933",503.01,-75.60315505899996,38.74303680400004,Census: Exact,POINT (-75.60316 38.74304),35,LIHTC,Jesse R. Vanderwende,35
12,BIRCHWOOD AT RODNEY COURT,881051,12/17/2018,NaN,NaN,9 (Const.),Active,50,S,New Castle,...,"1100 Pennsylvania Ave., Wilmington, DE 19806",15,-75.55677586399997,39.75255180100004,Census: Exact,POINT (-75.55678 39.75255),4,LIHTC,Jeff Hilovsky,4
13,DUNBARTON STATION,490971,12/17/2018,10/01/2019,0.09,9,Active,32,F,Sussex,...,"DUNBARTON STATION, Rcv'd Rev Proc Extension",Unable To Geocode The Address,NaN,NaN,ArcGIS: 72.25,POINT EMPTY,nan,LIHTC,NaN,NaN
14,HERRING RIDGE,643394,12/17/2018,04/23/2020,0.09,9,Active,34,NaN,Sussex,...,"705 Independence drive Seaford, DE 19973",504.06,-75.60355403255836,38.65666798253389,ArcGIS: 100,POINT (-75.60355 38.65667),39,LIHTC,Daniel B. Short,39
15,MILLSBORO LANDING,756712,12/17/2018,NaN,9,9,Active,38,NaN,Sussex,...,"MILLSBORO LANDING, (Returned and Forwarded)",Unable To Geocode The Address,NaN,NaN,Unable to Geocode The Address,POINT EMPTY,nan,LIHTC,NaN,NaN
16,MARKET STREET APARTMENTS (forward committment),282559,12/11/2017,NaN,9,9,NaN,34,NaN,Sussex,...,"310 Market street Bridgeville, DE 19933",503.01,-75.60315505899996,38.74303680400004,Census: Exact,POINT (-75.60316 38.74304),35,LIHTC,Jesse R. Vanderwende,35
17,"THE FLATS, PHASE III",1122778,12/17/2018,08/26/2020,0.09,9,Active,77,F,New Castle,...,"610 Bayard avenue Wilmington, DE 19805",24,-75.57415858399997,39.75180082800006,Census: Exact,POINT (-75.57416 39.75180),3,LIHTC,Sherry Dorsey Walker,3
18,BIRCHWOOD AT RODNEY (forward reservation),8135,12/23/2019,03/23/2020,0.09,9,Active,51,S,New Castle,...,"1100 Pennsylvania avenue Wilmington, DE 19806",15,-75.55677586399997,39.75255180100004,Census: Exact,POINT (-75.55678 39.75255),4,LIHTC,Jeff Hilovsky,4
19,COMPTON TOWNEHOUSE APARTMENTS,1056240,12/23/2019,NaN,0.09,9,Active,75,F,New Castle,...,"831A Towne court Wilmington, DE 19801",29,-75.54430621299997,39.74187410400003,Census: Exact,POINT (-75.54431 39.74187),3,LIHTC,Sherry Dorsey Walker,3
20,MARKET STREET APARTMENTS,510932,06/12/2019,04/22/2020,0.09,9,Active,34,S,Sussex,...,"310 Market street Bridgeville, DE 19933",503.01,-75.60315505899996,38.74303680400004,Census: Exact,POINT (-75.60316 38.74304),35,LIHTC,Jesse R. Vanderwende,35
21,QUAKER ARTS,1056242,12/23/2019,NaN,0.09,9,Active,53,F,New Castle,...,"708-10, 801,816, 822 west St., Wilmington, DE ...",28,-75.55149202027893,39.74543198465622,ArcGIS: 87.71,POINT (-75.55149 39.74543),3,LIHTC,Sherry Dorsey Walker,3
22,"RIVERSIDE, PHASE I",1056240,12/23/2019,NaN,0.09,9,Active,59,F,New Castle,...,"1400 Todds Lane, Wilmington, DE 19802",30.02,-75.52361482999999,39.750524996000024,Census: Exact,POINT (-75.52361 39.75052),2,LIHTC,Stephanie T. Bolden,2
23,FOSTER COMMONS,1000000,12/20/2020,NaN,0.09,9,Active,42,F,Sussex,...,"Union St. & Old Landing Rd, Millsboro, DE 19966",506.02,-75.28787380799997,38.58586587000008,Census: Exact,POINT (-75.28787 38.58587),41,LIHTC,Richard G. Collins,41
24,"RIVERSIDE, PHASE II",621046,12/20/2020,NaN,0.09,9,Active,50,F,New Castle,...,"2910 Rosemont avenue Wilmington, DE 19802",30.02,-75.52345422499997,39.74963277300003,Census: Exact,POINT (-75.52345 39.74963),2,LIHTC,Stephanie T. Bolden,2
25,DIAMOND COURT II,608080,12/20/2020,NaN,0.09,9,Active,32,S,Kent,...,"35 Diamond court Harrington, DE 19952",430,-75.57042688699994,38.92068564700003,Census: Exact,POINT (-75.57043 38.92069),30,LIHTC,Shannon Morris,30
26,"THE FLATS, PHASE IV",1000000,12/20/2020,NaN,0.09,9,Active,52,F,New Castle,...,"600 Block Ferris St. and Bayard Ave., Wilmingt...",24,-75.57484348699995,39.752003322000064,Census: Non_Exact,POINT (-75.57484 39.75200),3,LIHTC,Sherry Dorsey Walker,3
27,MPH MRB,656670,08/27/2020,NaN,NaN,4,Ative,106,F and S,NC and Sussex,...,"400 north Broad St. Middletown, DE",166.01,-75.71770725399995,39.452868583000054,Census: Exact,POINT (-75.71771 39.45287),8,LIHTC,Sherae'a Moore,8
28,DIAMOND COURT I,727888,12/15/2021,NaN,0.09,9,Active,34,F,Kent,...,"32 Diamond court Harrington, DE 19952",430,-75.57048491199998,38.921252594000066,Census: Exact,POINT (-75.57048 38.92125),30,LIHTC,Shannon Morris,30
29,MAXWELL FIELDS,1009240,12/15/2021,NaN,0.09,9,Active,60,S,Kent,...,"700 Mason avenue Harrington, DE 19952",430,-75.58331970299997,38.92434515400004,Census: Exact,POINT (-75.58332 38.92435),30,LIHTC,Shannon Morris,30
30,CHRISTIANA VILLAGE MRB,TBD,NaN,NaN,0.04,4,Active,77,F,New Castle,...,"701 W. 4th street Unit A, Wilmingont, DE 19801",21,-75.55758075999995,39.74299849200003,Census: Non_Exact,POINT (-75.55758 39.74300),3,LIHTC,Sherry Dorsey Walker,3
31,FRAZIER APARTMENTS MRB,TBD,NaN,NaN,0.04,4,Active,54,F,Kent,...,"200 Goldbsorough Way, Smyrna, DE 19977",402.03,-75.59817958995916,39.3016806789212,ArcGIS: 98.51,POINT (-75.59818 39.30168),28,LIHTC,William J. Carson,28
32,FOSTER COMMONS,1000000,10/19/2021,NaN,0.09,9,Active,42,F,Sussex,...,"Union St. & Old Landing Rd, Millsboro, DE 19966",506.02,-75.28787380799997,38.58586587000008,Census: Exact,POINT (-75.28787 38.58587),41,LIHTC,Richard G. Collins,41
33,"RIVERSIDE, PHASE II",1000000,11/09/2021,NaN,0.09,9,Active,50,F,New Castle,...,"2910 Rosemont avenue Wilmington, DE 19802",30.02,-75.52345422499997,39.74963277300003,Census: Exact,POINT (-75.52345 39.74963),2,LIHTC,Stephanie T. Bolden,2
34,DIAMOND COURT II,668257,11/09/2021,NaN,0.09,9,Active,32,S,Kent,...,"35 Diamond court Harrington, DE 19952",430,-75.57042688699994,38.92068564700003,Census: Exact,POINT (-75.57043 38.92069),30,LIHTC,Shannon Morris,30
35,"THE FLATS, PHASE IV",1000000,11/09/2021,NaN,0.09,9,Active,52,F,New Castle,...,"600 Block Ferris St. and Bayard Ave., Wilmingt...",24,-75.57484348699995,39.752003322000064,Census: Non_Exact,POINT (-75.57484 39.75200),3,LIHTC,Sherry Dorsey Walker,3
36,VILLA MARIA,1000000,NaN,NaN,0.09,9,Active,51,S,New Castle,...,"55 Race street Wilmington, DE 19812",6.02,-75.54230121466017,39.75097282877626,ArcGIS: 98.28,POINT (-75.54230 39.75097),1,LIHTC,Nnamdi O. Chukwuocha,1
37,DUNBARTON STATION II APARTMENTS,808468,NaN,NaN,0.09,9,Active,24,F,Sussex,...,"900-1108 Dunbarton Apts., Georgetown, DE 19947",505.03,-75.39663904132165,38.69126298869554,ArcGIS: 98.11,POINT (-75.39664 38.69126),37,LIHTC,Ruth Briggs King,37
38,THE REESE APARTMENTS,999013,NaN,NaN,0.09,9,Active,36,F,Kent,...,"8093 S DuPont Hwy, Felton, DE 19943",422.01,-75.55602315999994,39.05392870700007,Census: Exact,POINT (-75.55602 39.05393),34,LIHTC,Lyndon D. Yearick,34
39,"THE FLATS, PHASE V",1000000,NaN,NaN,0.09,9,Active,53,S,New Castle,...,"401 Bayard avenue Wilmingont, DE 19801",24,-75.57518900166042,39.750661998871095,ArcGIS: 97.13,POINT (-75.57519 39.75066),3,LIHTC,Sherry Dorsey Walker,3
40,OWENS/QUEENS MANOR MRB,TBD,NaN,NaN,0.04,4,Active,110,S,Kent,...,"426 New St. / 411 S. Queen St, Dover, DE 19901",414,-75.52813601471863,39.15473102086909,ArcGIS: 96.95,POINT (-75.52814 39.15473),31,LIHTC,Sean M. Lynn,31
41,CAROLYN CENTER MRB,TBD,NaN,NaN,0.04,4,Active,60,SP,New Castle,...,"25 Kiwanis drive Wilmington, DE 19802",107.02,-75.51446303516369,39.755461979543526,ArcGIS: 100,POINT (-75.51446 39.75546),1,LIHTC,Nnamdi O. Chukwuocha,1

In [39]:
# Count the Allocation Amount in each district for each year and add them to the aggregated dataframe
data_noTBD = geolocated_data.loc[geolocated_data['ALLOCATION AMOUNT'] != "TBD"]
data_noTBD["ALLOCATION AMOUNT"] = data_noTBD['ALLOCATION AMOUNT'].astype(int)
aggregated_data = aggregated_data.merge(data_noTBD.groupby(["Representative District", "Tax Allocation Year"]).sum()["ALLOCATION AMOUNT"].reset_index(), how="outer", on=["Representative District", "Tax Allocation Year"])

/Users/kaitlincanalichio/opt/anaconda3/envs/dsenv/lib/python3.10/site-packages/geopandas/geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)
/var/folders/62/sjvb9hnd49j2jg4mt6p87qqm0000gn/T/ipykernel_59868/3628345081.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  aggregated_data = aggregated_data.merge(data_noTBD.groupby(["Representative District", "Tax Allocation Year"]).sum()["ALLOCATION AMOUNT"].reset_index(), how="outer", on=["Representative District", "Tax Allocation Year"])

In [40]:
aggregated_data

,Representative District,Tax Allocation Year,# of Tax Credit Units,ALLOCATION AMOUNT
0,1,2017,53,778622.0
1,1,2022,111,1000000.0
2,2,2019,59,1056240.0
3,2,2020,50,621046.0
4,2,2021,50,1000000.0
5,24,2017,60,774946.0
6,28,2021,54,NaN
7,3,2016,51,913337.0
8,3,2018,77,1122778.0
9,3,2019,128,2112482.0
10,3,2020,52,1000000.0
11,3,2021,129,1000000.0
12,3,2022,53,1000000.0
13,30,2020,32,608080.0
14,30,2021,126,2405385.0
15,31,2017,100,620003.0
16,31,2022,110,NaN
17,34,2022,36,999013.0
18,35,2017,34,228372.0
19,35,2018,34,282559.0
20,35,2019,34,510932.0
21,37,2016,32,518044.0
22,37,2022,24,808468.0
23,39,2018,34,643394.0
24,4,2016,72,503861.0
25,4,2017,110,1628357.0
26,4,2018,50,881051.0
27,4,2019,51,8135.0
28,41,2016,38,792137.0
29,41,2017,56,1044577.0
30,41,2020,42,1000000.0
31,41,2021,42,1000000.0
32,5,2017,120,497801.0
33,8,2020,106,656670.0
34,nan,2018,70,1247683.0

In [41]:
# get the population per district for each year 
population = pd.read_csv("data/rep_district_population.csv")
population["District"] = population["District"].astype("str")

In [42]:
aggregated_data.dtypes

Representative District     object
Tax Allocation Year          int64
# of Tax Credit Units        int64
ALLOCATION AMOUNT          float64
dtype: object

In [ ]:
# Add derived statistics, population data, senator name, and funding source to the aggregated dataframe
aggregated_data = aggregated_data.merge(gpd.read_file("data/aggregated_senate_new.json")[["name", "district", "adj_popula"]], how="outer", left_on="Senate District", right_on="district").drop(columns="Senate District")
# Filter out "S." from the beginning of senator names
# aggregated_data["name"] = aggregated_data["name"].str.removeprefix("S. ")
# Add funding source
aggregated_data["Funding Source"] = "LIHTC"

# Calculate derived statistics
aggregated_data["Average Allocation per 100 Persons"] = aggregated_data["ALLOCATION AMOUNT"] * 100 / aggregated_data["adj_popula"].astype(float)
aggregated_data["Average Population per Tax Credit Unit"] = aggregated_data["adj_popula"].astype(float) / aggregated_data["# of Tax Credit Units"]
aggregated_data["Average Allocation per Tax Credit Unit"] = aggregated_data["ALLOCATION AMOUNT"].astype(float) / aggregated_data["# of Tax Credit Units"]

# Convert adjusted population to int. Assume anywhere with missing population numbers has a population of 0
aggregated_data["adj_popula"] = aggregated_data["adj_popula"].fillna(0).astype(int)

aggregated_data

In [43]:
# add population data 
aggregated_data = aggregated_data.merge(population, how="left", left_on=["Representative District","Tax Allocation Year"], right_on=["District","year"])
aggregated_data["Funding Source"] = "LIHTC"

# calculations
aggregated_data["Average Allocation per 100 Persons"] = (aggregated_data["ALLOCATION AMOUNT"] / aggregated_data["population"]) *100
aggregated_data["Average Population per Tax Credit Unit"] = aggregated_data["population"] / aggregated_data["# of Tax Credit Units"]
aggregated_data["Average Allocation per Tax Credit Unit"] = aggregated_data["ALLOCATION AMOUNT"] / aggregated_data["# of Tax Credit Units"]

# add Representative names
aggregated_data = aggregated_data.merge(rep_names, left_on = "Representative District", right_on= "District",how="left")

In [44]:
aggregated_data

,Representative District,Tax Allocation Year,# of Tax Credit Units,ALLOCATION AMOUNT,year,District_x,population,Funding Source,Average Allocation per 100 Persons,Average Population per Tax Credit Unit,Average Allocation per Tax Credit Unit,Name,District_y
0,1,2017,53,778622.0,2017.0,1,22303.0,LIHTC,3491.108819,420.811321,14690.981132,Nnamdi O. Chukwuocha,1
1,1,2022,111,1000000.0,2022.0,1,22262.0,LIHTC,4491.959393,200.558559,9009.009009,Nnamdi O. Chukwuocha,1
2,2,2019,59,1056240.0,2019.0,2,21794.0,LIHTC,4846.471506,369.389831,17902.372881,Stephanie T. Bolden,2
3,2,2020,50,621046.0,2020.0,2,21782.0,LIHTC,2851.189055,435.640000,12420.920000,Stephanie T. Bolden,2
4,2,2021,50,1000000.0,2021.0,2,22198.0,LIHTC,4504.910352,443.960000,20000.000000,Stephanie T. Bolden,2
5,24,2017,60,774946.0,2017.0,24,23230.0,LIHTC,3335.970728,387.166667,12915.766667,Edward S. Osienski,24
6,28,2021,54,NaN,2021.0,28,23386.0,LIHTC,NaN,433.074074,NaN,William J. Carson,28
7,3,2016,51,913337.0,2016.0,3,21271.0,LIHTC,4293.813173,417.078431,17908.568627,Sherry Dorsey Walker,3
8,3,2018,77,1122778.0,2018.0,3,19408.0,LIHTC,5785.129843,252.051948,14581.532468,Sherry Dorsey Walker,3
9,3,2019,128,2112482.0,2019.0,3,19015.0,LIHTC,11109.555614,148.554688,16503.765625,Sherry Dorsey Walker,3
10,3,2020,52,1000000.0,2020.0,3,19542.0,LIHTC,5117.183502,375.807692,19230.769231,Sherry Dorsey Walker,3
11,3,2021,129,1000000.0,2021.0,3,19796.0,LIHTC,5051.525561,153.457364,7751.937984,Sherry Dorsey Walker,3
12,3,2022,53,1000000.0,2022.0,3,19796.0,LIHTC,5051.525561,373.509434,18867.924528,Sherry Dorsey Walker,3
13,30,2020,32,608080.0,2020.0,30,20520.0,LIHTC,2963.352827,641.250000,19002.500000,Shannon Morris,30
14,30,2021,126,2405385.0,2021.0,30,20628.0,LIHTC,11660.776614,163.714286,19090.357143,Shannon Morris,30
15,31,2017,100,620003.0,2017.0,31,23393.0,LIHTC,2650.378318,233.930000,6200.030000,Sean M. Lynn,31
16,31,2022,110,NaN,2022.0,31,24016.0,LIHTC,NaN,218.327273,NaN,Sean M. Lynn,31
17,34,2022,36,999013.0,2022.0,34,24546.0,LIHTC,4069.962519,681.833333,27750.361111,Lyndon D. Yearick,34
18,35,2017,34,228372.0,2017.0,35,22990.0,LIHTC,993.353632,676.176471,6716.823529,Jesse R. Vanderwende,35
19,35,2018,34,282559.0,2018.0,35,23569.0,LIHTC,1198.858670,693.205882,8310.558824,Jesse R. Vanderwende,35
20,35,2019,34,510932.0,2019.0,35,23912.0,LIHTC,2136.717966,703.294118,15027.411765,Jesse R. Vanderwende,35
21,37,2016,32,518044.0,2016.0,37,25344.0,LIHTC,2044.049874,792.000000,16188.875000,Ruth Briggs King,37
22,37,2022,24,808468.0,2022.0,37,29595.0,LIHTC,2731.772259,1233.125000,33686.166667,Ruth Briggs King,37
23,39,2018,34,643394.0,2018.0,39,22241.0,LIHTC,2892.828560,654.147059,18923.352941,Daniel B. Short,39
24,4,2016,72,503861.0,2016.0,4,22002.0,LIHTC,2290.069085,305.583333,6998.069444,Jeff Hilovsky,4
25,4,2017,110,1628357.0,2017.0,4,22039.0,LIHTC,7388.524888,200.354545,14803.245455,Jeff Hilovsky,4
26,4,2018,50,881051.0,2018.0,4,22319.0,LIHTC,3947.537972,446.380000,17621.020000,Jeff Hilovsky,4
27,4,2019,51,8135.0,2019.0,4,21938.0,LIHTC,37.081776,430.156863,159.509804,Jeff Hilovsky,4
28,41,2016,38,792137.0,2016.0,41,23734.0,LIHTC,3337.562147,624.578947,20845.710526,Richard G. Collins,41
29,41,2017,56,1044577.0,2017.0,41,24573.0,LIHTC,4250.913604,438.803571,18653.160714,Richard G. Collins,41
30,41,2020,42,1000000.0,2020.0,41,22522.0,LIHTC,4440.103010,536.238095,23809.523810,Richard G. Collins,41
31,41,2021,42,1000000.0,2021.0,41,26328.0,LIHTC,3798.237618,626.857143,23809.523810,Richard G. Collins,41
32,5,2017,120,497801.0,2017.0,5,23678.0,LIHTC,2102.377735,197.316667,4148.341667,Kendra Johnson,5
33,8,2020,106,656670.0,2020.0,8,24218.0,LIHTC,2711.495582,228.471698,6195.000000,Sherae'a Moore,8
34,nan,2018,70,1247683.0,NaN,NaN,NaN,LIHTC,NaN,NaN,17824.042857,NaN,NaN

In [45]:
# Melt the wide form data into long form data, grouping by district, representative name, funding source, and year
long_data = pd.melt(aggregated_data, id_vars=["Representative District", "Name", "Funding Source", "Tax Allocation Year"], value_vars=["# of Tax Credit Units", "ALLOCATION AMOUNT", "population", "Average Allocation per 100 Persons", "Average Population per Tax Credit Unit", "Average Allocation per Tax Credit Unit"])

# Calculate the average of each variable across all districts and years
averages = long_data.loc[~long_data["Representative District"].isna()].groupby("variable").mean(numeric_only=True).reset_index()
averages["Funding Source"] = "LIHTC"
averages["Name"] = np.nan
averages["Representative District"] = "District Average"
averages["Tax Allocation Year"] = "All Time"

# Calculate the average of each variable across all districts in each year
yearly_averages = long_data.loc[~long_data["Representative District"].isna()].groupby(["variable", "Tax Allocation Year"]).mean(numeric_only=True).reset_index()
yearly_averages["Funding Source"] = "LIHTC"
yearly_averages["Name"] = np.nan
yearly_averages["Representative District"] = "District Average"

# Add the averages to the long form data
long_data = pd.concat([long_data,averages, yearly_averages])
# Fill missing values with 0 for processing
long_data.fillna(0).to_csv("data/long_tax_data_reps.csv", index=False)

In [46]:
long_data

,Representative District,Name,Funding Source,Tax Allocation Year,variable,value
0,1,Nnamdi O. Chukwuocha,LIHTC,2017,# of Tax Credit Units,53.00
1,1,Nnamdi O. Chukwuocha,LIHTC,2022,# of Tax Credit Units,111.00
2,2,Stephanie T. Bolden,LIHTC,2019,# of Tax Credit Units,59.00
3,2,Stephanie T. Bolden,LIHTC,2020,# of Tax Credit Units,50.00
4,2,Stephanie T. Bolden,LIHTC,2021,# of Tax Credit Units,50.00
...,...,...,...,...,...,...
37,District Average,NaN,LIHTC,2018,population,21884.25
38,District Average,NaN,LIHTC,2019,population,21664.75
39,District Average,NaN,LIHTC,2020,population,21716.80
40,District Average,NaN,LIHTC,2021,population,22467.20
41,District Average,NaN,LIHTC,2022,population,24043.00

In [ ]:
# Read trimmed senate distrcit shapes
trim = gpd.read_file("data/2022Senate_Districts_Trimmed.geojson", driver="GeoJSON")
trim["district"] = trim["SLDUST"].astype(int)
trim = trim[["district", "geometry"]]

In [47]:
# trimmed representative districts 

#convert to Int64 to remove 0s and back to string
rep_districts_2011_trimmed["SLDLST"] = rep_districts_2011_trimmed["SLDLST"].astype("Int64").astype("str")
rep_districts_2022_trimmed["SLDLST"] = rep_districts_2022_trimmed["SLDLST"].astype("Int64").astype("str")

In [51]:
# Attach representative districts to wide form aggregated data with appropriate year 
aggregated_data2011 = aggregated_data[aggregated_data['Tax Allocation Year'] != 2022] 
aggregated_data2011 = rep_districts_2011_trimmed.merge(aggregated_data2011, right_on="Representative District", left_on="SLDLST", how="outer")

aggregated_data2022 = aggregated_data[aggregated_data['Tax Allocation Year'] == 2022] 
aggregated_data2022 = rep_districts_2022_trimmed.merge(aggregated_data2022, right_on="Representative District", left_on="SLDLST", how="outer")

In [58]:
aggregated_data2011 = aggregated_data2011.drop(columns=["District_x","District_y","Representative District"]).rename(columns={"SLDLST":"District"})
aggregated_data2022 = aggregated_data2022.drop(columns=["District_x","District_y","Representative District"]).rename(columns={"SLDLST":"District"})

In [61]:
# save as GeoJSON
gpd.GeoDataFrame(aggregated_data2011.loc[~aggregated_data2011["District"].isna()]).to_file("data/aggregated_with_geo2011.geojson", driver="GeoJSON")
gpd.GeoDataFrame(aggregated_data2022.loc[~aggregated_data2011["District"].isna()]).to_file("data/aggregated_with_geo2022.geojson", driver="GeoJSON")

In [ ]:
# Attach senate districts to wide form aggregated data
aggregated_data["district"] = pd.to_numeric(aggregated_data["district"], errors="coerce")
aggregated_data = aggregated_data.merge(trim, on="district", how="outer")
# Print the wide form data for valid districts to a geojson
gpd.GeoDataFrame(aggregated_data.loc[~aggregated_data["district"].isna()]).to_file("data/aggregated_with_geo.geojson", driver="GeoJSON")
# Print the wide form data without geoometry to a csv
aggregated_data.drop(columns="geometry").to_csv("data/aggregated_data_with_na.csv", index=False)

Figure out how senate districts overlap with senate districts


NOTE: PyPDF2 needs to be added to the environment and imported to run this code

In [ ]:
# Download census block groups
blocks = requests.get("https://www2.census.gov/geo/tiger/GENZ2022/shp/cb_2022_10_bg_500k.zip")
blocks = gpd.read_file(BytesIO(blocks.content))
blocks

In [ ]:
lines = []

# creating a pdf file object
with open('data/CensusBlockBreakdownbySenateDistrict.pdf', 'rb') as pdfFileObj:
    # creating a pdf reader object
    pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

    # printing number of pages in pdf file
    print(pdfReader.numPages)

    # Iterate over each page
    for pageNum in range(pdfReader.numPages):
        # creating a page object
        pageObj = pdfReader.getPage(pageNum)
        
        # extracting text from page
        pageText = pageObj.extractText()
        
        # extract lines from each page
        pageLines = pageText.split("\n")
        
        for line in pageLines:
            lines.append(line.split(' '))

# Pull the columns out and separate columns that were incorrectly joined
columns = lines[0]
columns[1] = columns[0][5:] + columns[1]
columns[0] = columns[0][:5]
columns.insert(2, columns[2][:6])
columns[3] = columns[3][6:]
data = [x for x in lines if x[0].isdigit()]
for row in data:
    row.insert(1, row[0][2:])
    row[0] = row[0][:2]
    row.insert(2, row[2][:5])
    row[3] = row[3][5:]
    
senate_census_map = pd.DataFrame(data, columns=columns)
senate_census_map

In [ ]:
# Crosstabulate the connections between senate districts and census block groups
crosstab = pd.crosstab(senate_census_map["Proposed2022_SD"], senate_census_map["BlockGroup"])
# Get a list of census block groups that overlap with each senate district
senate_per_bg = crosstab.apply(lambda x : x[x != 0].index.values)
senate_per_bg.loc[senate_per_bg.apply(len) != 1]

In [ ]:
senate_per_bg2 = crosstab.apply(lambda x : x[x != 0].values)
senate_per_bg2.loc[senate_per_bg2.apply(len) != 1]

In [ ]:
scbg = pd.concat([senate_per_bg, senate_per_bg2], axis=1)
scbg.loc[(scbg.apply(lambda x : x.apply(len)) != 1).all(axis=1)].values

In [ ]:
scbg.columns = ["Senate Districts", "Blocks per District"]
scbg.to_csv("data/Senate_to_Block_Groups.csv")